.bg1st{
    background-image: url('img/images.jfif');
      background-size: cover;
      background-repeat: no-repeat;
      padding: 10px;
      transition: 5s;
      background-position: top right;
}

.nav-link{
    color:white;
    font-weight: 700;
    font-size: small;
   }

   form{
    padding: 10px;

   }

   .btnsub{
    background: linear-gradient(130deg, #ff9980, #e64d00);
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-weight: 700;
   }
   .rconfirm{
    color: white;
    padding: 2px;
    border-radius: 50px;
    background-color: #00e600;
    font-size: xx-small;
  }
  .cardpay{
    background: linear-gradient(130deg, #e64d00, #ff9980);
    color: black;
    border-radius: 5px;
    padding: 8px;
    font-weight: 600;
    font-size:small;
  }